<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="solicitud">
                <h1>Formulario de solicitud de trabajo</h1>

                <div class="data">
                    <div class="trabajo">
                        <h2>Detalles del Trabajo</h2>
                        <h1 class="title" th:text="${trabajo.estadoTrabajo}"></h1>
                        <!--   <p>Estado: <span th:text="${trabajo.estadoTrabajo}"></span></p> 
                           <p>Fecha de alta: <span th:text="${trabajo.fechaInicio}"></span></p> -->
                    </div>
                    <div class="cliente">
                        <h2>Solicitante</h2>
                        <h2 th:text="${cliente.nombre}+' '+${cliente.apellido}"></h2> 
                        <p>Dirección: <span th:text="${cliente.domicilio}"></span></p>
                        <p>Telefono: <span th:text="${cliente.telefono}"></span></p>
                    </div>
                    <div class="proveedor">
                        <h2>Proveedor</h2>

                        <h2 id="proveedor" th:text="${proveedor.nombre}+' '+${proveedor.apellido}"></h2>
                        <p>Rubro: <span th:text="${proveedor.rubro.nombreRubro}"></span></p>
                        <p>Dirección: <span th:text="${proveedor.domicilio}"></span></p>
                        <p>Telefono: <span th:text="${proveedor.telefono}"></span></p>
                    </div>
                    <h6>DESCRIPCION DE LA SOLICITUD</h6>
                    <p th:text="${trabajo.detalleDeSolicitud}"></p>
                    <h6>DESCRIPCION DE LA SOLUCION</h6>
                    <p th:text="${trabajo.respuestaProveedor}"></p>
                    <h6>GASTOS ADICIONALES</h6>
                    <p th:text="${trabajo.GastosAdicionales}"></p>
                    <h6>HORAS ESTIMADAS</h6>
                    <p th:text="${trabajo.horasTrabajoEstimadas}"></p>



                    <form id="register-form" th:action="@{/trabajo/comentar/}" method="POST">
                        <div class="descripcion">
                            <input hidden type="number" name="idTrabajo" th:value="${trabajo.id}">
                            <label>INTRODUCE TU CALIFICACION</label>
                            <input type="number"  name="calificacion" >
                              <label>INTRODUCE TU COMENTARIO</label>
                            <input name="contenido" placeholder="comentario del trabajo" 
                                   minlength="15" maxlength="1000" 
                                   style="width: 100%; height: 100px" 
                                   type="text">
                        </div>  
                        <button type="submit">enviar</button>
                    </form>   




                </div>
            </div>
        </div>

        <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
            <div class="card-body">
                <h5 class="card-title">Exito!</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>
        <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError" >
            <div class="card-body">
                <h5 class="card-title">Error ð</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>



    </body>
</html>

