
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/comentario_list.css}" type="text/css" rel="stylesheet"></link>
    </head>
    <body>
         
        
        <div class="container">
                                <table class="table table-dark">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Nombre y Apellido</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Telefono</th>                                
                                            <th scope="col" sec:authorize="hasRole('ADMIN')">Editar Persona</th>
                                            <th scope="col"sec:authorize="hasRole('ADMIN')">Eliminar Persona</th>
                                            <th scope="col" sec:authorize="hasRole('ADMIN')">Hacer ADMIN</th>
                                         

                                        </tr>
                                    </thead>
                                    <tbody th:each="persona:${personas}">
                                        <tr>
                                            <th scope="row"> <img th:src="@{/imagen/perfil/__${persona.dni}__}" alt=""></th>
                                            <th scope="row" th:text="${persona.nombre + ' ' + persona.apellido}"></th>
                                            <td scope="row" th:text="${persona.email}"></td>
                                            <td scope="row" th:text="${persona.telefono}"></td>                                            
                                            <td><a sec:authorize="hasRole('ADMIN')" th:href="@{/persona/modificar/__${persona.dni}__}"><button class="btn-outline-info">Modificar</button> </a></td>
                                            <td><a sec:authorize="hasRole('ADMIN')" th:href="@{/persona/eliminar/__${persona.dni}__}"><button class="btn-outline-info">Eliminar</button> </a></td>
                                            <td><a sec:authorize="hasRole('ADMIN')" th:href="@{/persona/cambiarRol/__${persona.dni}__}"><button class="btn-outline-info">Hacer Admin</button> </a></td>
                                        </tr>
                                    </tbody> 


                                </table>




            </div>
        
        
        <footer th:replace="/fragments/footer :: footer" ></footer> 
    </body>
</html>
