<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/estilo.css" th:href="@{/css/estilo.css}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossoring>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">



        <title></title>
    </head>
  
 
        <header id="header-index">
            <div id="logo" >
                <img th:src="@{/imagenes/logoServiceProM.png}" alt="">
            </div>
         <div class="search-box">
             <form class="search-box">
                 <input type="text" placeholder=" "/>
                 <button type="reset"></button>
             </form>
         </div>
         <div id="botones" >
                <div class="cada-boton">
                    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/proveedor/listar}" >
                        <button  type="button" class="btn btn-outline-info" >
                           Proveedores
                        </button>
                    </a>
                </div>
             <div id="botones" >
                <div class="cada-boton">
                    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/clientes/listar}" >
                        <button  type="button" class="btn btn-outline-info">
                           Clientes
                        </button>
                    </a>
                </div>  

            <div id="botones">
                <div class="cada-boton">
                    <a th:href="@{/index1}">
                        <button  type="button" class="btn btn-outline-info">
                           Home
                        </button>
                    </a>
                </div>         
<br>

                <div class="cada-boton">
                    <a th:href="@{/}">
                        <button  type="button" class="btn btn-outline-info">
                           Mis trabajos
                        </button>
                    </a>
                </div>         
<br>

                <div class="cada-boton">
                    <a th:href="@{/}">
                    <button type="button" class="btn btn-outline-info">
                        Perfil
                    </button>
                </a>
                </div>
<br>

                <div class="cada-boton">
                    <a th:href="@{/}">
                    <button type="button" class="btn btn-outline-info">
                        Logout
                    </button>
                </a>
                </div>
            </div>
            
        
        </header>
        <body>
            <div class="background-container">
                <div class="container">
    
                </div>
            </div>
        <div class="container">
            <div class="container-form sign-up">
                <div class="welcome-back">
                    <div class="messeger">
                        <h2>PERFIL</h2>
                        <br>
                        <p>Aqui podras modificar los datos de tu usuario </p>
                        <a th:href="@{/inicio}">
                    <button class="sign-in-btn" id="ov-btn-slide-close">Volver</button>
                    </a>
                    </div>
                </div>            
                <form class="formulario" id="formulario1" th:action="@{/cliente/modificar}" method="POST">
                    <div class="input-container">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre"  th:value="${user.nombre}">
                    </div>
                   
                    <div class="input-container">
                    <label for="apellido">Apellido:</label>
                    <input type="text" id="apellido" name="apellido"  th:value="${user.apellido}">
                    </div>
                    <br>

                    <div class="input-container">
                    <label for="dni">DNI:</label>
                    <input type="text" id="dni" name="dni"  th:value="${user.dni}">
                    </div>
                    <div class="input-container">
                    <label for="domicilio">Dirección:</label>
                    <input type="text" id="domicilio" name="domicilio"  th:value="${user.domicilio}">
                    </div>
                    <div class="input-container">
                    <label for="telefono">Teléfono:</label>
                    <input type="text" id="telefono" name="telefono"  th:value="${user.telefono}">
                    </div>

                    <div class="input-container">

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" th:value="${user.email}">
                    </div>
                    <br>
                    <button class="sign-in-btn" id="ov-btn-slide-close">Guardar Datos</button>

                </form>
        </body>

    
</html>