<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/estilo.css" th:href="@{/css/estilo.css}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossoring>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">



        <title></title>
    </head>
  
    <body>
        <nav>        <div id="presentacion">
            <header id="header-index">
                <div id="logo" >
                    <img th:src="@{/imagenes/logoServiceProM.png}" alt="">
                </div>
    
                <div id="botones">
                    <div class="cada-boton">
                        <a th:href="@{/cliente/listarTrabajo}">
                            <button  type="button" class="btn btn-outline-info">
                               Ver mis trabajos
                            </button>
                        </a>
                    </div>         
    <br>
    
                    <div class="cada-boton">
                        <a th:href="@{/logout}">
                        <button type="button" class="btn btn-outline-info">
                            Logout
                        </button>
                    </a>
                    </div>
                    <div class="cada-boton perfil">
                    <a th:href="@{/cliente/modificar}">                   
                        <img src="imagenes/perfil.png" href alt="foto del perfil">
                    </a>
                </div>
                </div>
    
            
            </div>
        </nav>
        <div class="background-container">
            <div class="container">

            </div>
        </div>

        <div class="container">
            <div class="container-form sign-up">
                <div class="welcome-back">
                    <div class="messeger">
                        <h2>PERFIL</h2>
                        <p>Aqui podras modificar tu PERFIL </p>
                    <button class="sign-in-btn" id="ov-btn-slide-close">modificar datos</button>
                    </div>
                </div>            
                <form class="formulario" id="formulario1" th:action="@{/cliente/modificar}" method="POST">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre"  th:value="${user.nombre}">
                    <label for="apellido">Apellido:</label>
                    <input type="text" id="apellido" name="apellido"  th:value="${user.apellido}">
                    <label for="dni">DNI:</label>
                    <input type="text" id="dni" name="dni"  th:value="${user.dni}">
                    <label for="domicilio">Dirección:</label>
                    <input type="text" id="domicilio" name="domicilio"  th:value="${user.domicilio}">
                    <label for="telefono">Teléfono:</label>
                    <input type="text" id="telefono" name="telefono"  th:value="${user.telefono}">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" th:value="${user.email}">

                   <button class="sign-in-btn" id="ov-btn-slide-close">Guardar Datos</button>
                </div>
                </form>
          


    
</html>