
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <title>TODO supply a title</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link th:href="@{/css/registroRubro.css}" type="text/css" rel="stylesheet"></link>
</head>
    <body>
        
        
            <section class="form-main">
        <div class="form-content">
        <div class="circle-1"></div>
        <div class="circle-2"></div>
        <div class="circle-3"></div>
        
        
           <form id="reister-form-cliente" th:action="@{/rubro/registro/}" method="POST">
      <label for="nombre"><strong>Ingresar Rubro:</strong></label>
      <input type="text" id="nombre" name="nombreRubro" required th:value="${nombre}" placeholder="Ingrese el rubro"><br>
      
      <label for="descripcion"><strong>Descripcion:</strong></label>
      <input type="text" id="descripcion" name="descripcion" required th:value="${apellido}" placeholder="Descripcion"><br>
     <div class="form-group my-3">
                <input type="file" class="form-control" name="archivo" placeholder="Imagen" >
            </div>

     
           
    
      
      <button type="submit" href="#" class="cta" value="Registrar Rubro">
  <span>Registrar Rubro</span>
  <svg width="3px" height="5px" viewBox="0 0 13 10">
    <path d="M1,5 L11,5"></path>
    <polyline points="8 1 12 5 8 9"></polyline>
  </svg>
</button>

      
      
    </form>
            </section>
    </body>
</html>



