

body{
  background-color: #f18080;
  background-image:  url("../imagenes/grupo.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #f18080; /* Color de fondo en caso de que la imagen no se cargue o no cubra completamente */
    margin: 0;
    padding: 0;
}

img{

    width: 50%;
    height: 35%;
   
    border-radius: 20px;
   

}

.logo {
  width: 90px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: 90px;
  border-radius: 50%;
}



h3{
  color:#310c46;
}

h4{
    margin: 5px;
}
h5{
    margin: 5px;
}
h6{
    margin: 5px;
}

.cardBox {
    float: left;
    font-size: 1.2em;
    margin: 1% 0 0 1%;
    perspective: 800px;
    transition: all 0.3s ease 0s;
    width: 23.7%;
    transform-style:preserve-3d ;
  }

  .cardBox.flipped{
    transform: rotateY(180deg);
  }

  .cardBox:hover .card {
    transform: rotateY(180deg);

  }

  .card {
    background: #dd8771;
    cursor: default;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 80%;
 margin: 25px;
 border-radius: 20px;
 border:6px solid rgb(211, 226, 214);
  /*  -webkit-animation: giro 1s 1;   */
    animation: giro 1s 1;
  }

  .front, .back {
    backface-visibility: hidden;
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: 1.2em;
    height: 100%;
    padding: 0.8em;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .back {
    transform: rotateY( 180deg);
    border-radius: 20px;
  
    
  }

  h1 {
    background: #333;
    color: #fff;
    text-align: center;
    margin: 0 0 5% 0;
    padding: 0.5em;
    margin: 0 0 5% 0;
  }
   
  p {
    margin-bottom: 1.8em;
  }
   
  strong {
    background: #fff;
    border-radius: 100%;
    color: #222;
    font-size: 1.5em;
    line-height: 30px;
    padding: 0 7px 4px 6px;
  }
   
  a {
    padding: 0.3em 0.5em;
       text-decoration: none;
    border-radius: 1px;
    font-size: 0.9em;
    transition: all 0.2s ease 0s;
  }
   
  a:hover {
       text-shadow: 0 0 1px #333;
  }

  .cardBox:nth-child(1) .card .back {
    background: yellowgreen;
  }
  
   
  .cardBox:nth-child(2) .card .back {
    background: orange;
  }
   
  .cardBox:nth-child(3) .card .back {
    background: rgb(122, 50, 205);
  }
  .cardBox:nth-child(6) .card .back {
    background: rgb(50, 169, 205);
  }
  .cardBox:nth-child(7) .card .back {
    background: rgb(36, 3, 185);
  }
  .cardBox:nth-child(4) .card .back {
    background: tomato;
  }
  .cardBox:nth-child(5) .card .back {
    background: rgb(41, 36, 35);
  }
  .cardBox:nth-child(2) .card {
    -webkit-animation: giro 1.5s 1;
    animation: giro 1.5s 1;
  }
   
  .cardBox:nth-child(3) .card {
    -webkit-animation: giro 2s 1;
    animation: giro 2s 1;
  }
   
  .cardBox:nth-child(4) .card {
    -webkit-animation: giro 2.5s 1;
    animation: giro 2.5s 1;
  }


  @keyframes giro {
    from {
      transform: rotateY( 180deg);
    }
    to {
      transform: rotateY( 0deg);
    }
  }
  
  @-webkit-keyframes giro {
    from {
      transform: rotateY( 180deg);
    }
    to {
      transform: rotateY( 0deg);
    }
  }


  @media screen and (max-width: 767px) {
  
    .cardBox {
      margin-left: 2.8%;
      margin-top: 3%;
      width: 46%;
    }
  
    .card {
      height: 285px;
    }
  
    .cardBox:last-child {
      margin-bottom: 3%;
    }
  
  }
  
  
  @media screen and (max-width: 480px) {
  
    .cardBox {
      width: 94.5%;
      height: 290px;
    }
  
  }











  
/*** ESTILOS BOTÓN GROW SKEW REVERSE ***/
.ov-btn-grow-skew-reverse {
    background: orange; /* color de fondo */
    color: rgb(8, 5, 5); /* color de fuente */
    border: 2px solid #1f1d61; /* tamaño y color de borde */
    padding: 16px 20px;
    width: 30%;
    
    border-radius: 20px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-grow-skew-reverse:hover {
    color: #fff;/* color de fuente hover */
  }
  .ov-btn-grow-skew-reverse::after {
    content: "";
    background: #f15c06; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(45deg) scale(0, 1);
    transition: all 0.3s ease;
  }
  .ov-btn-grow-skew-reverse:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(45deg) scale(1, 1);
  }
  





/*** ESTILOS BOTÓN GROW SKEW ***/
.ov-btn-grow-skew {
    background: #fff; /* color de fondo */
    color: #4741d7; /* color de fuente */
    border: 2px solid #4741d7; /* tamaño y color de borde */
    padding: 16px 20px;
    width: 30%;
    
    border-radius: 20px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-grow-skew:hover {
    color: #fff;/* color de fuente hover */
  }
  .ov-btn-grow-skew::after {
    content: "";
    background: #4741d7; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
  }
  .ov-btn-grow-skew:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
  }







  /*** ESTILOS BOTÓN GROW SKEW ***/
.ov-btn-grow-skew {
    background: #fff; /* color de fondo */
    color: #4741d7; /* color de fuente */
    border: 2px solid #4741d7; /* tamaño y color de borde */
    padding: 16px 20px;
    
    width: 30%;
    border-radius: 20px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-grow-skew:hover {
    color: #fff;/* color de fuente hover */
  }
  .ov-btn-grow-skew::after {
    content: "";
    background: #4741d7; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
  }
  .ov-btn-grow-skew:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
  }






  /*** ESTILOS BOTÓN GROW SKEW ***/
.ov-btn-grow-skew {
    background: #fff; /* color de fondo */
    color: #4741d7; /* color de fuente */
    border: 2px solid #4741d7; /* tamaño y color de borde */
    padding: 16px 20px;
    width: 30%;
    border-radius: 20px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-grow-skew:hover {
    color: #fff;/* color de fuente hover */
  }
  .ov-btn-grow-skew::after {
    content: "";
    background: #4741d7; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
  }
  .ov-btn-grow-skew:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
  }













  .card {
    height: 285px;
  }

  .cardBox:last-child {
    margin-bottom: 3%;
  }


@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
    height: 290px;
  }
}

/* Animación de la tarjeta */

@keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }

}
