tbody{
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    margin-right: 10px;
    
}

.table {
    position: relative;

    border-collapse: separate; /* Separación de bordes */
    border-spacing: 10px; /* Espacio entre celdas */
    font-size: 25px; /* Tamaño de fuente */
    border-radius: 10px; /* Radio de los bordes */
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo con transparencia */
    color: #fff;
}

.table td, .table th {
    padding: 8px;
    height: 20px;
    
}
th img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    
    
}

.btn-outline-info {
    color: #0dcaf0; 
    border-color: #0dcaf0;
    width:100px;
    height: 45px;
    border-radius: 10px;
    background-color: transparent;
    font-family: sans-serif;
    align-items: center;
    font-size: 15px;


}

.btn-outline-info:hover {
    background-color: #0dcaf0; 
    color: black;
    cursor: pointer;
}